.box{
    background-color:grey;
    border: solid 3px Red;
    width: 70%;
    height: 650px;
    display: flex;
}

.box_margin{
    margin-left: 25%;
    margin-top: 2%;
    
}
.input_margin{
    margin-top: 6%;
    margin-left: 20px;

}
.input_style {
    all: unset;
    font: 16px system-ui;
    color:black;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    background-color:#fff;
    border: solid 3px Red;
    margin-top: 5px;
    width: 600px;
    height: 25px;
    
  }
.header_style{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    color: white;
}
.information_style{
    font-weight: 600;
    color : white
    
}
.button_margin{
    display: flex;
    margin-left: 35%;
    margin-top: 44%;
}
.button_size{
    margin-left: 20px;
    width: 90px;
    height: 50px;
}
.box_category{
    background-color:grey;
    border: solid 3px Red;
    width: 70%;
    height: 350px;
    display: flex;
}
.button_marginCategory{
    display: flex;
    margin-left: 170%;
    margin-top: 22%;
}

